<div class="container pad5">
	<div class="row">
		<div class="col-sm-12">
			<div class="well pad5">
			<h3 class="text-center"><strong>Flambiance</strong></h3>
				<div class="container inner">
					<div class="row pad5">
						<div class="col-sm-12">
<h1 class="text-center">We are here to build your website</h1>
<div class="text-center" >
<img src="/assets/devices3.png">
</div>
<h2>The three Phase we follow to make your website</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
