<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Flambiance Technology Services</title>
    <link rel="icon" type="image/ico" href="/assets/favicon.ico">
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="/assets/font-awesome.min.css" rel="stylesheet" />
    <!--PRETTYPHOTO MAIN STYLE -->
    <link href="/assets/prettyPhoto.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="/assets/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--NAV SECTION -->
    <header id="header-nav" role="banner">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fa fa-paw color-red"></i>FLAMBIANCE</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav flot-nav">
                    <li><a href="#home"><i class="fa fa-home color-red"></i> Home</a></li>
                    <li><a href="#about-section"><i class="fa fa-group color-brown"></i> About Us</a></li>
                    <li><a href="#services-section"><i class="fa fa-gear color-green"></i> Services</a></li>
                    <li><a href="#technologies-section"><i class="fa fa-cogs color-blue"></i> Technologies</a></li>
                    <!-- <li><a href="#portfolio-section"><i class="fa fa-picture-o color-light-blue"></i> Clients</a></li> -->    
                    <li><a href="#contact-section"><i class="fa fa-tint"></i> Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!--END NAV SECTION -->
    <!--SLIDE CAROUSEL SECTION -->

     <section id="home" name="home"> 

<div id="home_carousel">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- <div class="item active">
        <div id="h_bg">
            <div class="carousel-caption">
                <div class="col-sm-12 callout">
                    
                </div>
            </div>
                    <img class="img-responsive" src="/assets/home_b1.jpg" alt="Background" width="100%" height="615px">      
        </div>
    </div>
    <div class="item" id="carou_cap2">
        <div id="h_bg">
            <div class="carousel-caption">
                <div class="col-sm-12 callout">
                   
                </div>
            </div>
                    <img class="img-responsive" src="/assets/home_b2.jpg" alt="Background" width="100%" height="615px">      
        </div>
    </div> -->

    <!-- <div class="item active">
        <div id="h_bg">
      <img class="img-responsive" src="/assets/home_b1.png" alt="Background" width="100%" height="615px">
        </div>
    </div> -->
    <div class="item active">
        <div id="h_bg">
      <img class="img-responsive" src="/assets/home_b2.jpg" alt="Background" width="100%" height="615px">
        </div>
    </div>

    <div class="item">
        <div id="h_bg">
      <img class="img-responsive" src="/assets/home_b3.jpg" alt="Background" width="100%" height="615px">
        </div>
    </div>
    <div class="item">
        <div id="h_bg">
      <img class="img-responsive" src="/assets/home_b4.jpg" alt="Background" width="100%" height="615px">
        </div>
    </div>
    <div class="item">
        <div id="h_bg">
      <img class="img-responsive" src="/assets/home_b5.jpg" alt="Background" width="100%" height="615px">
        </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
<!-- Carousel end -->
</section>

    
    <!--END SLIDE CAROUSEL SECTION -->
    <!--ABOUT SECTION -->

    <section id="about-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                    <div class="text-center">
                        <h1><i class="fa fa-group small-icons bk-color-brown"></i>A Little About Us</h1>
                    </div>
                    <div class="col-sm-12  blog-content text-justify">
                     <div class="col-sm-12">
                        <p class="font-18">
                           <b>FLAMBIANCE</b> is a specialist provider of Web Engineering Services. The company started its operation in the year 2014 and its core competencies include Web Development, Mobile marketing, Search Engine Optimization, Responsive Web Designing, Logo designing and Content writing.                      
                        </p>
                    </div>
                    <div class="col-sm-12 pad-bot">
                        <p>If you want to know or if you are asking where we got our name from and what it really mean’s then you are of course not the first one who has questioned this.
                        When the founders of the company took the first step towards this great world of technology and its implementation that would represent what they were about to get started with, from the very beginning the sole focus and aim of the company was to provide a mixture of the triplet i.e. Marketing, Sales and Technology which will produce a unique flamboyant output. Along with this, one of the most important aspects that the founders wanted to put main focus on was the essence of the work. Finally, they thought about what it would really mean to customers, our employees and other stakeholders also when the potentials of these opportunities are realized fully.
                        As a part of that discussion, as they went through many options and one option that inspired them the most was the combination of Flamboyant + Essence which will define their flamboyant work and its essence and hence they decided to define the word FLAMBIANCE along with its employees and stakeholders.
                        </p></br></br>

                     </div>
                    </div>

                </div>
                <!-- ./ Heading div-->
               
            </div>
        </div>
    </section>
    <!--END ABOUT SECTION -->

    <!--SERVICES SECTION -->
    <section id="services-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h1><i class="fa fa-gear small-icons bk-color-green"></i>Services</h1>
                        <!-- <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.                        
                        </p> -->
                    </div>
                </div>
                <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                <div class="row">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-bolt icon-round bk-color-green"></i>
                            <h4>Responsive Web Design</h4>
                            <p class="text-justify">Our approach is aimed at crafting the websites to provide and optimal viewing experience with easy navigation and access. Web design is done in such a way to minimize re-sizing, panning and scrolling across a wide range of devices like from cheaper mobile to smart phones, from Tablet to desktop computer monitors.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-comments icon-round bk-color-green"></i>
                            <h4>Logo Design</h4>
                            <p class="text-justify">A logo is an integral part of any website or any company which is commonly used by commercial enterprises, organization and even individuals to aid and promote instant public recognition. We design logo’s keeping in mind Generation ‘X’, ’Y’ and ‘Z’. This is what enlarges our creativity and gives us confidence to think out of the box.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-desktop icon-round bk-color-green"></i>
                            <h4>Search Engine Optimization</h4>
                            <p class="text-justify">Think of something like you want to reach your destination and there are several ways to do that, so which way you will choose? Obviously the shorter one which is time saving and you need someone who will guide you about the shorter way isn't it. S.E.O is that process which guides the visibility of any website. Visibility in a search engine is the destination of any website.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row pad-top">
                    <!-- <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-flask icon-round bk-color-green"></i>
                            <h4>Mobile Marketing</h4>
                            <p class="text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.
                            </p>
                        </div>
                    </div> -->
                    <div class="col-md-6 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-pencil icon-round bk-color-green"></i>
                            <h4 >Web Development</h4>
                            <p class="text-justify">Internet has become the heart and soul of any business. And to enlarge the horizon of any business website is the medium to do so. The brain which directs this heart to function properly is Web Development. This can range from simple static single page of plain text to the most complex web-based internet applications, electronic business and social network business and our team does this for you all. The list of tasks to which web development commonly refers may include web design, web content development and client-side/server-side scripting. Our knowledge database and creative team does this for you.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-thumbs-up icon-round bk-color-green"></i>
                            <h4>Content Writing</h4>
                            <p class="text-justify">A body can’t sustain without oxygen, similarly a web site can’t sustain without providing relevant content for websites.  Our team is specialized in creating traditional and modern contents on any topic. The contents developed have not only for targeting specific audience but the whole mass which requires different type and level of content. We write for you to attract and retain users on your website. Use of easy-to-read and easy-to-understand cluster is guaranteed from our team Flambiance.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--END SERVICES SECTION -->
    
    <!--TECHNOLOGIES SECTION -->
    <section id="technologies-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h1><i class="fa fa-cogs small-icons bk-color-light-blue"></i>Technologies</h1>
                        <p class="font-18">
                           Flambiance is a web design and Development Company and our members are both experienced and creative to handle large and small projects, we work and feel happy to help those who seek resources and our ideas within the digital and technical domain                        
                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                        <h3><i class="fa fa-plane small-icons bk-color-light-blue"></i>Programing Area</h3>
                        <div class="col-md-4 col-sm-6 " data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-bolt icon-round bk-color-light-blue"></i>
                            <h4>PHP</h4>
                            <p class="text-justify">Our approach is aimed at crafting the websites to provide and optimal viewing experience with easy navigation and access. Web design is done in such a way to minimize re-sizing, panning and scrolling across a wide range of devices like from cheaper mobile to smart phones, from Tablet to desktop computer monitors. We do take proper care to provide flexible images and overall structure of the website.
                            </p>
                        </div>
                        </div>

                        <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-bolt icon-round bk-color-light-blue"></i>
                            <h4>ASP.NET</h4>
                            <p class="text-justify">ASP.Net is an open source server-side web application framework used for web development to produce dynamic web pages. The programs is built on common language runtime (CLR), allowing programmers to write asp.net code using any supported .net language. It is a Web server technology for dynamically rendering HTML pages using a combination of HTML, Javascript, CSS, & server-side logic.
                            </p>
                        </div>
                        </div>

                        <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-bolt icon-round bk-color-light-blue"></i>
                            <h4>RUBY ON RAILS</h4>
                            <p class="text-justify">Ruby is a dynamic programming language built on open source. The language is object-oriented and very portable. For web applications widely used framework is Ruby on Rails. And our team is having a good amount of experience to carry out medium to large scale project on this very new technology.
                            </p>
                        </div>
                        </div>

                    </div>
                    
                </div>


                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                        <h3><i class="fa fa-plane small-icons bk-color-light-blue"></i>Design Area</h3>
                        <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-bolt icon-round bk-color-light-blue"></i>
                            <h4>WORDPRESS</h4>
                            <p class="text-justify">Wordpress is a content management system. It is a publishing tool that focuses on ease of use and is used primarily in the blogosphere. The system is free of cost, written in PHP and using MySQL databases. We have developers in our team having strong hold on this technology. Our specialist coders is capable of building themes and carrying out projects and deliver within the time frame.
                            </p>
                        </div>
                        </div>

                        <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-bolt icon-round bk-color-light-blue"></i>
                            <h4>HTML & CSS</h4>
                            <p class="text-justify">ASP.Net is an open source server-side web application framework used for web development to produce dynamic web pages. The programs is built on common language runtime (CLR), allowing programmers to write asp.net code using any supported .net language. It is a Web server technology for dynamically rendering HTML pages using a combination of HTML, Javascript, CSS, and server-side logic. ASP.NET can be used to create anything from small, personal websites through to large, enterprise-class web applications.
                            </p>
                        </div>
                        </div>

                        <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center blog_bg">
                            <i class="fa fa-bolt icon-round bk-color-light-blue"></i>
                            <h4>JAVASCRIPT & JQUERY</h4>
                            <p class="text-justify">Ruby is a dynamic programming language built on open source. The language is object-oriented and very portable. For web applications widely used framework is Ruby on Rails. And our team is having a good amount of experience to carry out medium to large scale project on this very new technology.
                            </p>
                        </div>
                        </div>

                    </div>
                    
                </div>


                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--END TECHNOLOGIES SECTION -->

    <!--PORTFOLIO SECTION -->
    <!-- <section id="portfolio-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h1><i class="fa fa-picture-o small-icons bk-color-light-blue"></i>Portfolio</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.
                         Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.                        
                        </p>
                    </div>
                </div>
                


              
                <div class="col-md-10 col-md-offset-1 col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.6s">
                    <ul class="portfolio-items col-3">
                        <li class="portfolio-item ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t1.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big1.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                       
                        <li class="portfolio-item  ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t3.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big3.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item   ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t4.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big4.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t5.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big5.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t1.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big1.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t2.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big2.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                           <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t3.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big3.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                           <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t4.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big4.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                         <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="/assets/portfolio/thumb/t2.png" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="/assets/portfolio/big/big2.png"><i class=" fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                


            </div>
        </div>

    </section> -->
    <!--END PORTFOLIO SECTION -->
    
    <!--CONTACT SECTION -->
    <section id="contact-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h1><i class="fa fa-tint small-icons bk-color-contact-green"></i>Contact us Now</h1>
                        <p class="font-18">
                            You can find us literally anywhere, just use a button and we’re there.                       
                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  margin-top-20">
                    <div class="col-md-6  col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <h3><i class="fa fa-pencil small-icons bk-color-light-blue"></i>Send Us Your Query</h3>
                        <hr />
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="name" class="form-control" required="required" tabindex="1" name="index[name]" placeholder="Name" pattern="[a-zA-Z. ]{1,50}">
                                    </div>
                                </div>
                                 <div class="col-md-6 col-sm-6">
                                    <div class="form-group">        
                                        <input type="tel" id="mobile" class="form-control" required="required" tabindex="2" name="index[mobile]"   placeholder="Mobile" pattern="[0-9]{10}" maxlength="10" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <input type="email" id="email" class="form-control" required="required" tabindex="3" name="index[email]" placeholder="Email address">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" rows="3" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg">Submit Query</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-md-offset-1  col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <h3><i class="fa fa-comments small-icons bk-color-red"></i>Reach Us Here</h3>
                        <hr />
                        Email: flambiancetechnologies@gmail.com<br />
                        <h3><i class="fa fa-plus small-icons bk-color-green"></i>Social Presence</h3>
                        <a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>
                    </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION -->
    <!--FOOTER SECTION -->
    <footer id="footer">
        <div class="row">
            <div class="col-md-12  col-sm-12">
                &copy; 2014 www.yourdomain.com  |  All Rights Reserved
               
            </div>
        </div>
    </footer>
    <!--END FOOTER SECTION -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="/assets/jquery.js"></script>
    <!-- BOOTSTRAP SCRIPTS LIBRARY -->
    <script src="/assets/bootstrap.min.js"></script>
    <!-- PRETTYPHOTO  SCRIPTS  LIBRARY-->
    <script src="/assets/jquery.prettyPhoto.js"></script>
     <!-- SCROLL REVEL  SCRIPTS  LIBRARY-->
    <script src="/assets/scrollReveal.js"></script>
    <!-- CUSTOM SCRIPT-->
    <script src="/assets/custom.js"></script>
</body>
</html>
