<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear <%= @user.name %></h4>
    <p>Welcome to <a href="http://flambiance.herokuapp.com/">Flambiance</a>, we have received your query. We’re happy to answer any questions you may have and aim to respond within 24 hours. In the meantime, please feel free to contact us by phone 9038338081 / 9804966581.</p>
    <p>Thank you for enquiring about <a href="http://flambiance.herokuapp.com/">Flambiance</a></p>
    <br><br>
    <p>Kind regards,</p>
    <p>Flambiance Team</p>
    <p>flambiancetechnologies@gmail.com</p>
    <p><a href="http://flambiance.herokuapp.com/">Flambiance Technologies Services</a></p>
  </body>
</html>